.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;

  h1 {
    font-family: "Cookie", sans-serif;
    margin: 0;

    span {
      color: #818385;
    }
  }

  .menu {
    height: auto;
    padding: 16px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .dot {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
    transition: transform 0.5s;

    &:nth-child(1) {
      transform: translateX(-10px);
    }

    &:nth-child(2) {
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: translateX(10px);
    }

    &.open {
      &:nth-child(1) {
        transform: translateX(0);
      }

      &:nth-child(2) {
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: translateX(0);
      }
    }
  }

  .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 3px;
    height: 5px;
    border-radius: 5px;
    background-color: #000000;
    transition-property: opacity, height;
    transition-duration: 0.5s;

    &.first {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &.open {
      height: 30px;
    }
  }
}
