.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 10px 80px;
  background: #ffffff;
  font-family: "Work Sans", sans-serif;

  h1 {
    font-family: "Cookie", sans-serif;
    margin: 0;
    color: #000000;

    span {
      color: #4831d4;
    }
  }

  .menu {
    ul {
      padding: 0;
      display: flex;
      align-items: center;
    }

    li {
      color: #000000;
      list-style: none;
      font-size: 13px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: #4831d4;
        font-weight: bold;
      }
    }
  }
}
