.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 10px 80px;
  background: rgba(255, 255, 255, 0.2);
  font-family: "Work Sans", sans-serif;
  position: sticky;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
  }

  h1 {
    font-family: "Cookie", sans-serif;
    margin: 0;
    color: #000000;

    span {
      color: #4831d4;
    }
  }

  .menu {
    ul {
      padding: 0;
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #000000;
        font-size: 13px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          color: #4831d4;
          font-weight: bold;
        }
      }
    }
  }
}
